# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.env
package-lock.json
/client/package-lock.json
/client/node_modules
/client/.vscode
/.vscode

# testing
/coverage

# production
/client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintrc.json

remember test uploaded image for the moment /uploads/1616681902741.jpg