.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: fit-content;
}

.link img {
    height: 90px;
    width: auto;
}

.link {
    list-style: none;
    text-decoration: none;
}

.link:hover, .link h2:hover {
    color: orangered;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    align-content: center;
}

.list .link {
    margin: 0 20px;
}

.badge {
    background-color: #f02020;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    font-size: 1.4rem;
    margin-left: 0.2rem;
  }

@media only screen and (orientation: portrait) {
    .link {
      margin: 0 2px;
    }

    .list .link {
        margin: 0 10px;
    }
   }