.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: fit-content;
}

.nav {
    height: 100%;
}

.link img {
    height: 90px;
    width: auto;
}

.link {
    list-style: none;
    text-decoration: none;
}

.link:hover, .link h2:hover {
    color: orangered;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    align-content: center;
}

.list .link {
    margin: 0 1vmin;
}

.badge {
    background-color: #f02020;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.1rem 0.4rem;
    font-size: 0.9rem;
    margin-left: 0.2rem;
  }
